p{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  color: #8e95a9;
  margin: 0;
  text-wrap:pretty;
}



.p-card{
  color: #EBEEF5;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
}

@media (max-width: 1045px) {
  p{
    font-size: 14px;
  }
}