.logo {
  width: 40px;
  height: 40px;
}
.img {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.nav-link {
  display: flex;
  padding: 12px 16px;
  color: var(--text-link-color);
  text-decoration: none;
}

.active {
  color: var(--text-white-color);
}

.cart-counter {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  color: var(--text-white-color);
  font-size: 14px;
}
