.nav{
  display: flex;
  gap: 16px;
  color: #FFF;
  font-family: 'Poppins' , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
}

@media (max-width: 985px) {
.nav {
      gap:12px
  }
}

@media (max-width: 824px) {
  .nav {
    gap:10px
  }
}  