#root {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 120px;
  box-sizing: border-box;
}

@media (max-width: 1085px) {
  #root {
    gap: 60px;
  }
}

@media (max-width: 985px) {
  #root {
    padding: 0 80px;
    gap: 50px;
  }
}

@media (max-width: 825px) {
  #root {
    padding: 0 40px;
    gap: 40px;
  }
}

@media (max-width: 535px) {
  #root {
    padding: 0 20px;
    gap: 20px;
  }
}
