.link {
  color: var(--text-link-color);
  text-decoration: none;
  transition: color 0.25s;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

.link:hover {
  color: var(--text-white-color);
}

.active {
  color: var(--text-white-color);
}

@media (max-width: 985px) {
  .link {
    padding: 10px 14px;
    font-size: 14px;
  }
}

@media (max-width: 825px) {
  .link {
    padding: 8px 12px;
  }
}
