.link{
  color: #A8AEBF;
  text-decoration: none;
  transition: color 0.25s;
  padding: 12px 16px;
  display: flex;
  gap:8px;
  align-items: center;
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  letter-spacing: 0.32px;
}


.link:hover{
  color: #fff;
}

.active{
  color: #fff;
}

@media (max-width: 985px) {
  .link {
    padding: 10px 14px;
    font-size: 14px;
  }
}

@media (max-width: 825px) {
  .link {
    padding: 8px 12px;
  }
}